.navim{
    width:50px;
    height:5%;
}
#formtab{
    width: 200%;
    -webkit-text-size-adjust: 100%;
    text-align: center;
}
.h-100 {
    height: 80%!important;
}
.col-md-6 {
    width: 100% !important;
}
.form-label{
    color: rgb(255, 255, 255);
}
.form-control{
    color: aliceblue;
}
.form-outline {
    position:relative !important;
    width: 70% !important;
}
.row>*{
    max-width: 20% !important;
}
.card-img-top{
    height: 50% !important;
}